@import 'styles/_variaveis.css';

.pontuacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: var(--beje);
    background: var(--fundo-roxo-vidro);
    border: var(--borda-roxo-vidro);
    box-shadow: var(--sombra);
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem;
    width: 70vw;
    max-width: 800px;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .pontuacao {
        flex-direction: column;
        position: fixed;
        left: 10vw;
        bottom: 40vh;
        width: auto;
        row-gap: 2rem;
        padding: 1.2rem;
    }
}

.pontuacao__informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 1rem;
}

.pontuacao__informacoes__subtitulo {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: .25rem;
}
