@import 'styles/_variaveis.css';

.pontuacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 70vw;
    max-width: 750px;
    margin: 0 auto;
    border-radius: .75rem;
    z-index: 1;
}
.pontuacao__titulo, .pontuacao__subtitulo {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: .25rem;
    line-height: 1.5rem;
}
.pontuacao__subtitulo {
    font-weight: 400;
    color: var(--beje);
}
.pontuacao__titulo {
    font-weight: 600;
    color: var(--branco);
}
@media screen and (min-width: 1440px) {
    .pontuacao {
        flex-direction: column;
        position: fixed;
        left: 3rem;
        bottom: 40vh;
        width: auto;
        row-gap: 2rem;
        padding: 2rem;
    }
    .pontuacao__titulo, .pontuacao__subtitulo {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}