@import 'styles/_variaveis.css';

.pontuacao {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 70vw;
    max-width: 800px;
    margin: 0 auto;
    border-radius: .75rem;
}

@media screen and (min-width: 1200px) {
    .pontuacao {
        flex-direction: column;
        position: fixed;
        left: 10vw;
        bottom: 40vh;
        width: auto;
        row-gap: 2rem;
        padding: 1.2rem;
    }
}

.pontuacao__subtitulo {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;
    padding: .25rem;
}
