$roxo: #5D0D8D;
$cinza: #D9D9D9;
$rosa: #931A96;
$branco: #FEFEFE;
$beje: #EBD9AA;
$preto: #222222;
$amarelo: #FFE603;
$marrom: #A66821;
$fonte: 'Montserrat Alternates', sans-serif;
$fundoRoxoVidro: rgba(93, 13, 141, 0.8);
$bordaRoxoVidro: .1rem solid rgba(93, 13, 141, 0.77);
$sombra: .1rem .1rem 1rem rgba(100, 100, 100, 0.5);