@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import 'reset.css';
@import 'styles/_variaveis.css';

body {
  background-color: var(--beje);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 850px;
  padding-bottom: 1rem;
}
.container * {
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}