@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
@import 'reset.css';
@import 'styles/_variaveis.css';

html {
  max-width: 100vw;
}

body {
  background-color: var(--beje);
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 100vw;
  padding-bottom: 1rem;
}
@media screen and (min-width: 850px) {
  .container {
    max-width: 850px;
  }
}
.container * {
  box-sizing: border-box;
  font-family: var(--fonte-padrao);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--roxo) transparent;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--roxo);
}