.cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    &__logo {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        cursor: pointer;
        max-width: 500px;
        width: 70vw;
    }
    &__logo:hover {
        opacity: 0.8;
    }
}