@import 'styles/_variaveis.css';

.carregando__container {
    align-items: center;
}

.carregando__titulo {
    text-align: center;
    font-size: 2.5rem;
    color: var(--roxo);
}

.carregando__loader {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    border: 16px solid var(--cinza);
    border-top: 16px solid var(--roxo);
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    max-width: 120px;
    max-height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}