@import 'styles/_variaveis.css';

.chamada {
    align-items: center;
    padding: .75rem;
    color: var(--roxo);
    font-size: 1.2rem;
    text-align: center;
}
.chamada__titulo {
    margin-top: .75rem;
    margin-bottom: .75rem;
    font-size: 1.2rem;
    line-height: 1.3rem;
    font-weight: 400;
}
.chamada__imagens {
    display: flex;
    justify-content: center;
}
.chamada__imagens__personagem {
    width: 80px;
    height: 80px;
    margin: .2rem;
    border: 3px solid var(--preto);
    border-radius: 5px;
    box-shadow: var(--sombra);
}
@media screen and (min-width: 1240px) {
    .chamada__titulo {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        font-size: 2rem;
        line-height: 2.25rem;
        font-weight: 400;
    }
    .chamada__imagens__personagem {
        width: 120px;
        height: 120px;
        margin: 1rem;
    }
}