@import 'styles/_variaveis.css';

.menu-fases {
    margin: 0 auto;
    width: 60vw;
    max-width: 700px;
    row-gap: .5rem;
    border-radius: .5rem;
}
.menu-fases__rotulo {
    text-align: center;
    font-size: 1.25rem;
    color: var(--beje);
    margin-bottom: .25rem;
}

.menu-fases__fases {
    border-radius: .5rem;
    margin: .25rem .5rem;
    text-align: center;
    font-size: .9rem;
}
.menu-fases__fases:hover {
    color: var(--preto);
    border: .2rem solid var(--preto);
    cursor: pointer;
}
.menu-fases__jogar:active {
    transform: scale(1.1);
    font-weight: bold;
}