@import 'styles/_variaveis.css';

.menu-fases {
    margin: 0 auto;
    width: 70vw;
    max-width: 800px;
    row-gap: .5rem;
    border-radius: .5rem;
}
.menu-fases__rotulo {
    text-align: center;
    font-family: var(--fonte-alternativa);
    font-size: 1.25rem;
    color: var(--beje);
    margin-bottom: .25rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.menu-fases__fases {
    border-radius: .5rem;
    margin: .25rem .5rem;
    text-align: center;
    font-size: .9rem;
}
.menu-fases__fases:hover {
    color: var(--preto);
    border: .2rem solid var(--preto);
    cursor: pointer;
}
@media screen and (min-width: 1240px) {
    .menu-fases__rotulo {
        font-size: 1.75rem;
        margin-bottom: .5rem;
        line-height: 2rem;
    }
    .menu-fases__fases {
        font-size: 1.2rem;
    }
}