@import 'styles/_variaveis.css';

.mapa__container {
    margin: 0 auto;
    margin-top: 1.5rem;
}
.mapa {
    width: 100%;
    max-width: 1200px;
}
.mapa__linha {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0;
    padding: 0;
    height: 10vw;
}
.mapa__pixel {
    width: 10vw;
    height: 10vw;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 1200px) {
    .mapa__pixel {
        width: 4rem;
        height: 4rem;
    }
    .mapa__linha {
        height: 4rem;
    }
}
.mapa__pixel img {
    width: 100%;
    height: 100%;
}
.pixel__personagem {
    border-radius: 25%;
}
.pixel__parede-horizontal {
    transform: rotate(90deg);
}
.pixel__canto-superior-direito {
    transform: rotate(90deg);
}
.pixel__canto-inferior-esquerdo {
    transform: rotate(-90deg);
}
.pixel__canto-inferior-direito {
    transform: rotate(180deg);
}