@import 'styles/_variaveis.css';

.footer {
    width: 60%;
    text-align: center;
    border-radius: 1.2rem;
    align-self: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.footer__texto {
    color: var(--branco);
    margin: 0;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1rem;
}
@media screen and (min-width: 1240px) {
    .footer__texto {
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}