@import 'styles/_variaveis.css';

.footer {
    font-size: 0.9rem;
    font-weight: 500;
    width: 60%;
    text-align: center;
    border-radius: 1.2rem;
    align-self: center;
    margin-top: 2rem;
}
.footer__texto {
    color: var(--branco);
    margin: 0;
}