@import 'styles/_variaveis.css';

.tela-final {
    z-index: 2;
    width: 70vw;
    height: auto;
    position: fixed;
    right: 15vw;
    top: 20vh;
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    border-radius: 2rem;
}