@import 'styles/variaveis';

.comandos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.25rem;
    &__botao {
        border: .25rem solid $preto;
        border-radius: .25rem;
        padding: 0;
        width: 18vw;
        height: 18vw;
        max-width: 100px;
        max-height: 100px;
        background-color: $beje;
        cursor: pointer;
    }
    &__botao:disabled {
        opacity: 0.7;
        border-color: $cinza;
        cursor: not-allowed;
    }
    &__botao:hover {
        border-color: $roxo;
    }
    &__botao:active {
        transform: scale(1.1);
    }
    &__botao * {
        width: 100%;
        height: 100%;
    }
}

.descricaoEspecial {
    color: $beje;
    font-size: .9rem;
    background-color: $roxo;
    padding: 1rem;
    width: 90vw;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    border: .25rem solid $roxo;
    border-radius: 2rem;
    margin-top: 1.25rem;
}