@import 'styles/variaveis';

.naoEncontrado {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: $fundoRoxoVidro;
    box-shadow: $sombra;
    border: $bordaRoxoVidro;
    color: $beje;
    width: 80vw;
    max-width: 700px;
    padding: 2.5rem;
    margin-top: 2rem;
    border-radius: 3rem;
    
    &__botao {
        padding: 1rem;
        margin: .5rem;
        cursor: pointer;
        font-weight: bold;
        color: $roxo;
        background: $fundoBrancoVidro;
        border-radius: 2rem;
        box-shadow: $sombra;
        border: $bordaBrancoVidro;
    }
    &__botao:hover {
        border: 2px solid $preto;
        opacity: 0.9;
    }
    &__botao:active {
        transform: scale(1.1);
    }
}